body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    padding: 15px;
    margin-top: auto;
    text-align: center;
    margin-top: 20px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(55, 53, 53);
    color: white;
    box-shadow: rgba(0,0,0,0.7) 0px 19px 38px, rgba(0,0,0,0.22) 0px 5px 5px;
    margin:auto;
    margin-top: 155px;
    border: 1px solid rgba(125,115,255,0.228);
    padding: 20px; 
}

.container h1 {
    border-bottom: 1px solid grey;
    margin-bottom: 20px; 
}

.container label {
    margin-right: 10px;
}

.input-group {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px; 
    position: relative;
}
#salary{
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}
#otherIncome{
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}
#age{
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 15px;
}
.input-group label {
    width: 150px;
}           
#errorIcon {
    position: absolute;
    right: 8px;
    top: 50%;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    display: none;
  }
  #errorMessage {
    color: red; 
    background-color: white; 
    padding: 1px 2px; 
    border-radius: 5px; 
    display: none;
   
}


  .tooltip {
    display: none;
    position: absolute;
    background-color: #ffcccc;
    color: #f00;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    white-space: nowrap;
    top: -25px;
    left: 100%;
  }
  
  
  
button {
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    width: 150px;
    background-color: rgb(194, 193, 193);
    color: black;
    font-weight: 700;
}

button:hover {
    background-color: #45A049;
}

#taxResult {
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    
}
.input-container{
    padding: 5px;
    display: flex;
    margin-left: 10rem;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px; 
}
#deduction{
     padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}
.input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    padding-right: 30px; 
  }
  
  .alert-circle-icon {
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 1px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }